/* En este fichero se establece como se debe ver la barra superior */

.top {
  position: absolute;
  top: 0;
  width: 100%;
  height: 5%;
  background-color: #2adb8e;
  box-shadow: 0 0 0.5vh black;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  line-height: 5vh;
  font-size: 2vw;
  font-weight: 550;
}
